* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededf6;
}

/* header */
header {
    min-height: 100px;
    background: #31343d;
    color: #92cccd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px;
}

header h1 {
    font-size: 40px;
    color: #31343d;
    padding: 5px 10px 10px 40px;
    background-color: #92cccd;
    flex: 0 0 auto;
}

nav ul {
    flex: 0 0 auto;
}

nav li {
    display: inline-block;
    color: #92cccd;
    text-decoration: none;
    margin: 0 5px 0 5px;
    border-bottom: #92cccd solid 4px;
    padding: 25px 20px 5px 20px ;
    transition: background-color .1s ease-in-out;
}

nav li a {
    color: #92cccd;
    text-decoration: none;
}

nav li:hover {
    background-color: #92cccd;
    cursor: pointer;
}

nav a:hover {
    color: #31343d;
}
/* end header */

/* hero */
.hero {
    background-image: url("..//images/bg.jpg");
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero h2 {
    color: #31343d;
    padding: 5px;
    background-color: #92cccd;
    margin: 50px;
    font-size: 30px;
    flex: 1 1 1;
}
/* end hero */

/* main */
main {
    width: 80%;
    text-align: center;
    margin: auto;
}

/* about me */
.me-container {
    margin: 25px 0; 
    display: flex;
    flex-flow: row nowrap;
}

.margin {
    padding-right: 20px;
    color: #31343d;
    flex: 1 1 13%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid #31343d;
}

.me-text {
    line-height: 1.5em;
    flex: 1 1 auto;
    text-align: justify;
}
.profile-picture {
    margin: 0 20px;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}
/* end me */

/* work */
.work-container {
    margin: 10px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-items:flex-start;
    text-align: start;
}

.work {
    padding-right: 20px;
    color: #31343d;
    flex: 1 1 auto;
}

.work-items {
    display: flex;
    flex-flow: row wrap;
    /* padding-left: 20px; */
    justify-content: flex-start;
}

.work-item-1 {
    position: relative;
    margin: 5px;
    flex: 0 1 auto;
    /* must change min-width: auto (default)
    which means the flex itm can't shrink below the image inside */
    min-width: 0;
}

.work-item-1 img {
    border: 3px solid #92cccd;    
    opacity: 1;
    /* part of above fix */
    width: 100%; 
    height: auto;
}

.work-item-1 img:hover {
    opacity: .8;
}

.work-item {
    position: relative;
    margin: 5px;
    flex: 0 0 auto;
}

.work-item img {
    border: 3px solid #92cccd;    
    opacity: 1;
}

.work-item img:hover {
    opacity: .8;
}

.work-tab {
    position: absolute;
    color: #31343d;
    padding: 5px;
    background-color: #92cccd;
    top: 70%;
    /* font-size:1.2em; */
    line-height: 1.2;
}

.work-tab-1 {
    position: absolute;
    color: #31343d;
    padding: 5px;
    background-color: #92cccd;
    top: 75%;
    font-size:1.2em;
    line-height: 1.2;
}
/* end work */