* {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededf6;
}

/* header */
header {
    min-height: 100px;
    background: #31343d;
    color: #92cccd;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px;
}

header h1 {
    font-size: 40px;
    color: #31343d;
    padding: 5px 10px 10px 40px;
    background-color: #92cccd;
    flex: 0 0 auto;
}

nav ul {
    flex: 0 0 auto;
}

nav li {
    display: inline-block;
    color: #92cccd;
    text-decoration: none;
    margin: 0 5px 0 5px;
    border-bottom: #92cccd solid 4px;
    padding: 25px 20px 5px 20px ;
    transition: background-color .1s ease-in-out;
}

nav li a {
    color: #92cccd;
    text-decoration: none;
}

nav li:hover {
    background-color: #92cccd;
    cursor: pointer;
}

nav a:hover {
    color: #31343d;
}
/* end header */

/* hero */
.hero {
    background-image: url("..//images/bg.jpg");
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hero h2 {
    color: #31343d;
    padding: 5px;
    background-color: #92cccd;
    margin: 50px;
    font-size: 30px;
    flex: 1 1 1;
}
/* end hero */

/* main */
main {
    width: 80%;
    text-align: center;
    margin: auto;
}

/* about me */
.me-container {
    margin: 25px 0; 
    display: flex;
    flex-flow: row nowrap;
}

.me {
    padding-right: 20px;
    /* font-size: 30px; */
    color: #31343d;
    flex: 1 1 13%;
    text-align: right;
    padding-right: 15px;
}

.me-text {
    line-height: 1.5em;
    flex: 1 1 auto;
    text-align: justify;
}
/* end me */

.profile-picture {
    margin: 0 20px;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

